 @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 1;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100%;

}

.container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
}

.navbar {
    width: 100%;
    height: 7vh;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    position: fixed;
    background-color: white;
    top: 0;

}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    z-index: 10000;
}

.navbar .menu-items {
    display: flex;
    z-index: 1000;
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover {
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    padding-top: 120px;
    background-color: rgba(255, 255, 255, 0.911);
    box-shadow: inset 0 0 2000px rgba(150, 12, 12, 0);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    z-index: 1;
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.logo {
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 1.2rem;
    color: black;
    z-index: 20;
    display: flex;
    align-items: baseline;
    justify-content: space-arround;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
}

/* Modo Oscuro */
.dark {
    background-color: #333;
    color: #ffffff;
    transition: all 1.5s;
}

.darkmode {
    margin-top: 10vh;
    margin-right: 10px;
    position: fixed;
    right: 30px;
}

/* Modificaciones de secciones */

.section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 80px;
    gap: 40px;
}

.card-img-top {
    margin: auto;
}

.texto_bienvenida {
    width: 45vw;
    height: auto;
    flex-wrap: wrap;
}

h1 {
    font-style: italic;
    text-shadow: #a5a3a3 4px 4px;
}

h2 {
    font-size: 1 rem;
}

p {
    font-size: 1em;
}

aside {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 20vw;
    height: auto;
}

.section-middle {
    text-align: center;
}

.row {
    width: 90%;
    margin: 0;
}

.img-fluid {
    border-radius: 20px;
    width: auto;
    height: 50vh;
    max-height: 50vh;
    max-width: auto;
    box-shadow: 6px 6px 12px #a5a3a3, -6px -6px 12px #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Agregando transiciones */
}

.img-fluid:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 16px #a5a3a3, -8px -8px 16px #ffffff;
}

.img-techpro {
    width: 30vw;
    height: auto;
    border-radius: 20px 20px 20px 20px;
    width: 20vw;
    /* ¿Es este valor necesario? Parece duplicado. */
    max-height: 50vh;
    max-width: 50vw;
    box-shadow: 6px 6px 12px #a5a3a3, -6px -6px 12px #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Agregando transiciones */
}

.img-techpro:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 16px #a5a3a3, -8px -8px 16px #ffffff;
}


.sam-s23fe {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.anatomia {
    width: 50%;
    height: auto;
    border-radius: 20px 0 20px 0;
}

.alineado {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
}

/* Logos de marcas */

.logos-brand {
    width: 60px;
    height: 60px;
    margin: 2%;
}

.marcas {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Pequeño footer simplista */
footer {
    margin-top: 5vh;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 15vh;
    text-align: center;
}

/* Boton del page Contacto */

button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 1em;
    border-radius: 0.5em;
    background: #3b3a3a46;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #a5a3a3,
        -6px -6px 12px #ffffff;
}

button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
        inset -4px -4px 12px #ffffff;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: 80px;
    gap: 40px;
    position: relative;
    z-index: -10;
}

.video-tiktok {
    display: flex;
    justify-content: space-arround;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    z-index: 999;
    margin-top: 70px;
}

/* Article redes */

article {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem;
    margin-top: 60px;
}

.fade-in {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    opacity: 0;
    /* Inicialmente invisible */
    transition: opacity 1s ease;
    /* Transición suave de 1 segundo */
}

.face-in ul li {
    list-style: none;
}

.redes-x i {
    font-size: 60px;
    margin: 0 18px;
    text-align: center;
    list-style: none;
}

logos-media {
    display: flex;

}

.logo-header {
    display: flex;
    align-items: baseline;
    justify-content: space-around;

}

/*     Media queries       */
@media (max-width: 700px) {
    p {
        font-size: .7rem;
    }

    aside {
        height: auto;
    }

    .redes-x {
        display: none;
    }

    .logo {
        display: none;
    }
}

@media (min-width: 700px) {

    .logos-media,
    .logo-header {
        display: none;
    }
}